body{
    background-color: #000;
    color: #fff;
    height: 100vh;

}
.heading{
    color: #fff; 
    text-align: center; 
    font-family:sans-serif;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note{
    text-align: center;
}